<div section-id="{{ sectionId }}" data-lg-scroll-offset="130" class="app-section-magin">

<div style="background-image:url({{settings.image}})" data-md-scroll-offset="130" data-sm-scroll-offset="94" class="season-section national-day-section overlay  {% if settings.position == "right" %}right{% elseif settings.position == "left" %}left{% elseif settings.position == "center" %}center{% else %}right{% endif %} ">
	<div class="national-day">
		{% if settings.title %}
			<h3>{{settings.title}}</h3>
		{% endif %}
		{% if settings.sub_title %}
			<p class="desc">{{settings.sub_title}}</p>
		{% endif %}
		{% if settings.link_text %}
			<a href="{{settings.url}}" class=" theme-btn">{{settings.link_text}}</a>
		{% endif %}
	</div>
</div>

</div>

{% schema %}
{
  "name": {
    "ar": " لافته",
    "en": "banner"
  },
  "icon": "fal fa-box",
  "display": true,
  "settings": {
    "image": {
      "type": "image",
      "label": {
        "ar": "الصوره",
        "en": "image"
      }
    },
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان الرئيسي",
        "en": "Title"
      }
    },

    "sub_title": {
      "type": "text",
      "label": {
        "ar": "العنوان الفرعي",
        "en": "explain"
      }
    },
    "url":{
          "type":"url",
          "label":{
            "ar":"اللينك",
            "en":"url"
          }
        },
   "link_text": {
      "type": "text",
      "label": {
        "ar": "نص الزرار",
        "en": "text"
      }
    }, "position": {
                      "type": "radios",
                      "label": {
                        "ar": "مكان الصورة",
                        "en": "text"
                      },
                      "options": [
                        {
                          "value": "right",
                          "label": {
                            "ar": "علي اليمين",
                            "en": "on right"
                          }
                        },
                        {
                          "value": "left",
                          "label": {
                            "ar": "علي اليسار",
                            "en": "on left"
                          }
                        },
                        {
                          "value": "center",
                          "label": {
                            "ar": "علي الوسط",
                            "en": "in center"
                          }
                        }
                      ]
                    
}
  }
}
{% endschema %}
