<section section-id="{{ sectionId }}" data-lg-scroll-offset="130" data-md-scroll-offset="130" data-sm-scroll-offset="94" class="first-slider-section {% if settings.space_top == "true" %}app-section-magin{% elseif settings.space_top == "false" %} {% else %} {% endif %}" style="">
	<div class="first-slider-content">
		<div class="first-parent">
			{% for  sliderItem in settings.sliders %}

				<div class="f-parent vw-100" style="background-image:url({{sliderItem.background_img}})">
					
					<div class="item">

						<div class="right">
							<div class="right-text">
                            {% if sliderItem.main_title %}  <h2 class="head">{{sliderItem.main_title}}</h2>{% endif %}
						{% if sliderItem.desc %}	<p class="desc">{{sliderItem.desc}}</p>{% endif %}</div>
						{% if sliderItem.btn_text %}	<a href="{{sliderItem.url}}" class="theme-btn">{{sliderItem.btn_text}}</a>{% endif %}
						</div>

						
					</div>
				</div>

			{% endfor %}
		</div>
    <div class="news-section ">
    <div class="container-fluid slider-container ticker-slider" style="{% if settings.background_color %} background-color: {{ settings.background_color }}; {% else %} background-color: var(--theme-btn) {% endif %}">
        <div class="d-flex flex-column">

            <div class="ticker-wrap" style="position: relative ;background-color:{{settings.background_color}};">


                    <div class="ticker s-slider">
                        {% for store in settings.store_news %}
                              <a href="{{store.url}}" style="color:{{settings.text_color}}" class="ticker-item">
                              {{store.title}}
                              <img loading="lazy"   src="{{store.image}}" class="" style="object-fit: cover"/>
                              
                              </a>
                        {% endfor %}
                    </div>


                
            </div>
        </div>
    </div>
</div>

	</div>




</section>
 <script>
 document.addEventListener("DOMContentLoaded", function(){
        var arrowNextClass = (window.appDirection === 'ltr') ? 'bi bi-chevron-right': 'bi bi-chevron-left';
        var arrowPrevClass = (window.appDirection === 'ltr') ? 'bi bi-chevron-left' : 'bi bi-chevron-right';
        var autoTrue=true;
        var autoFalse=false;
        var speedAuto = {% if settings.autoplay == "true" %}autoTrue{% elseif settings.autoplay == "false" %}autoFalse{% else %}autoTrue{% endif %};

        var screenWidth = window.screen.width;

        var editingMode = {% if store.editing_mode %}true{% else %}false{% endif %};

        if(screenWidth >= 0 || editingMode){
            $('.first-parent').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                  infinite: true,
                autoplay: speedAuto,
                arrows: false,
                dots: true,
                rtl: !(window.appDirection === 'ltr'),
                nextArrow:'<button class="slick-next slick-arrow" aria-label="Next" type="button" style=""><i class="'+arrowNextClass+'"></i></button>',
                prevArrow:'<button class="slick-prev slick-arrow" aria-label="Previous" type="button" style=""><i class="'+arrowPrevClass+'"></i></button>',
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 500,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        }
    });
	
	</script>
{% schema %}
{
  "name": {
    "ar": "القسم الرئيسي",
    "en": "Main Slider"
  },
  "icon": "fal fa-user",
  "display": true,
  "settings": {
    "autoplay": {
      "type": "radios",
      "label": {
        "ar": "تحريك البانر",
        "en": "Banner Autoplay"
      },
      "options": [
        {
          "value": "true",
          "label": {
            "ar": "متحرك",
            "en": "Autoplay"
          }
        },
        {
          "value": "false",
          "label": {
            "ar": "ثابت",
            "en": "Fixed"
          }
        }
      ]
    },
    "space_top": {
      "type": "radios",
      "label": {
        "ar": "مسافة أعلى العنصر",
        "en": "Margin Top for Section"
      },
      "options": [
        {
          "value": "true",
          "label": {
            "ar": "يوجد مسافة",
            "en": "Found Section Margin"
          }
        },
        {
          "value": "false",
          "label": {
            "ar": "لا يوجد مسافة",
            "en": "No Section Margin"
          }
        }
      ]
    },
    "sliders": {
      "type": "list",
      "noLabel": true,
      "maxItems": 5,
      "settings_label": {
        "ar": "القسم",
        "en": "Partition"
      },
      "settings": {
        "background_img": {
          "type": "image",
          "label": {
            "ar": "صورة الخلفية",
            "en": "Background Image"
          }
        },
        "main_title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "Title"
          }
        },
        "desc": {
          "type": "text",
          "label": {
            "ar": "النص الفرعي",
            "en": "Description"
          }
        },
        "btn_text": {
          "type": "text",
          "label": {
            "ar": "نص الزر",
            "en": "Button Text"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "URL"
          }
        }
      }
    },
    "background_color": {
          "type": "color",
          "label": {
            "ar": " لون خلفية شريط الأخبار",
            "en": "background color"
          }
        },
        "text_color": {
          "type": "color",
          "label": {
            "ar": " لون نص الخبر",
            "en": "text color"
          }
        },
    "store_news": {
      "type": "list",
      "maxItems": 20,
      "settings_label": {
            "ar": "الخبر",
            "en": "news"
          },
      "info": {
        "ar": "مولد نصوص",
        "en": "This is an info text sample here"
      },
      "settings": {
        "title": {
          "type": "text",
          "label": {
            "ar": "نص الخبر",
            "en": "text"
          }
        },
        "url":{
          "type":"url",
          "label":{
            "ar":"اللينك",
            "en":"url"
          }
        },
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 600*600 وتكون الخلفية شفافة",
            "en": "This is an info text sample here"
          }
        }
      }
    }
  
  }
}

{% endschema %}
