<div id="sidenav-overlay" onclick="closeSlidingMenu()"></div>
<nav class="slide-menu  menu-header-theme-bg-primary-brightness-100" id="sliding-menu">
    <i class="bi bi-x-circle" onclick="closeSlidingMenu()"></i>
    <ul class=" menu-header-theme-bg-primary-brightness-100 menu-header-theme-text-for-primary-bg">
        <li>
            <div style="height: 50px"></div>
        </li>
        {% for menu in main_navigation_menu.items %}
            {% if menu.url %}
            <li class="slide-menu-ul-li {% if menu.slug == 'all_categories' %} all-categories {% endif %}"  onclick="scrollToSubMenu(this)">
                <a href="{{ menu.url }}" title="{{ menu.name }}" class="menu-link">
                    <span class="px-1 clickable-span">{{ menu.name }}</span>
                </a>
                {% if menu.items | length > 0 %}
                    <ul>
                        {% for menu_sub in menu.items %}
                            <li class="slide-menu-ul-li">
                                <a href="{{ menu_sub.url }}">{{ menu_sub.name }}</a>
                                {% if menu_sub.items | length > 0 %}
                                    <ul>
                                        {% for menu_sub_sub in menu_sub.items %}
                                            <li class="slide-menu-ul-li">
                                                <a href="{{ menu_sub_sub.url }}">
                                                    {{ menu_sub_sub.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        <li class="slide-menu-ul-li">
            <a href="/shipping-and-payment"><span>{{ locals.header_delivery_and_payment_options }}</span></a>
        </li>
        
        <li>
            <div style="height: 250px"></div>
        </li>
    </ul>
</nav>


<script>
document.addEventListener('DOMContentLoaded', function() {
    function cleanUrl(url) {
        if (url.startsWith("//")) {
            url = "/" + url.slice(2);
        }
        url = url.replace(/([^:]\/)\/+/g, "$1");
        if (url !== '/' && url.endsWith('/')) {
            url = url.slice(0, -1);
        }
        return url;
    }
    var menuLinks = document.querySelectorAll('.menu-link');
    menuLinks.forEach(function(link) {
        link.href = cleanUrl(link.getAttribute('href'));
        link.addEventListener('click', function(event) {
            event.preventDefault();
        });
    });
    var clickableSpans = document.querySelectorAll('.clickable-span');
    clickableSpans.forEach(function(span) {
        span.addEventListener('click', function(event) {
            event.stopPropagation();
            var parentAnchor = span.closest('a');
            if (parentAnchor) {
                window.location.href = parentAnchor.href;
            }
        });
    });
});
</script>
